<div Class = "input-wrapper select select2" (click)="clickCombo($event)" id="CBO_">
  <ul id="promises-select" data-value="">
    <li *ngIf="ItemDefault !== ''" class="placeholder active" value="0">
      <div id="placeholder">{{ ItemDefault }}</div>
    </li>
    <li *ngIf="ItemDefault === ''" class="placeholder active" value="0">
      <div id="placeholder">{{ 'Traduct.seleccione' | translate }}</div>
    </li>
    <li *ngFor="let item of Lista" value="{{item?.Id}}">
      <div class="selectable">
        {{ Texto === 'Code' ? item?.Code: item?.Name}}
      </div>
    </li>
  </ul>
</div>
