<section class="page-pay pay" [hidden]="pagoStep != 0">
  <div class="page-progress">
    <div class="progress progress-5"></div>
  </div>

  <div class="flex-column page-header">
    <p class="top-decoration">{{ "Traduct.pagar" | translate }}</p>
  </div>

  <div class="restrict-width">
    <div class="title">
      <h1 class="page-title text-large">
        {{ "Traduct.pagar_deuda" | translate }}
      </h1>
      <p class="page-subtitle">
        <span></span>{{ "Traduct.pago_subtitulo" | translate }}
      </p>
    </div>

    <div class="selectable-box flex-row col-container" id="box-6427117929">
      <div class="box col-1-2" (click)="seleccionarTipoPago(1)" id="porMonto">
        <div class="flex-row flex-center">
          <img src="assets/images/sections/promises/1.svg" alt="" />
          <img src="assets/images/sections/promises/1_active.svg" alt="" />
        </div>
        <p class="text-center">
          {{ "Traduct.monto_titulo" | translate }}
        </p>
      </div>
      <div
        class="box col-1-2"
        (click)="seleccionarTipoPago(2)"
        id="porProducto"
      >
        <div class="flex-row flex-center">
          <img src="assets/images/sections/promises/2.svg" alt="" />
          <img src="assets/images/sections/promises/2_active.svg" alt="" />
        </div>
        <p class="text-center">
          {{ "Traduct.producto_titulo" | translate }}
        </p>
      </div>
    </div>
    <div>
      <button (click)="continuarStep()" class="btn" data-next="">
        {{ "Traduct.siguiente" | translate }}
      </button>
    </div>
  </div>
</section>

<section class="page-promises pay_1" [hidden]="pagoStep != 2">
  <app-grilla-pago
    [resp]="resp"
    [pagoStep]="pagoStep"
    (volviendo)="onVolviendo($event)"
    (siguiente)="onSiguiente($event)"
    (prePagoGen)="onPrePagoGen($event)"
  ></app-grilla-pago>
</section>

<section class="page-promises pay_1" [hidden]="pagoStep != 1">
  <app-monto-pago
    [resp]="resp"
    [pagoStep]="pagoStep"
    (volviendo)="onVolviendo($event)"
    (siguiente)="onSiguiente($event)"
    (prePagoGen)="onPrePagoGen($event)"
  ></app-monto-pago>
</section>

<section class="page-pay" [hidden]="pagoStep != 3">
  <app-confirmar-pago
    [pago]="prePagoGen"
    [pagoStep]="pagoStep"
    (volviendo)="onVolviendo($event)"
    (siguiente)="onSiguiente($event)"
    (pagoGen)="onPagoGen($event)"
  ></app-confirmar-pago>
</section>

<section class="page-pay pay_5" [hidden]="pagoStep != 4">
  <app-pago-metodos
    [pago]="pagoGen"
    [pagoStep]="pagoStep"
    (volviendo)="onVolviendo($event)"
  >
  </app-pago-metodos>
</section>
