 <div class="flex-column flex-grow">
  <div class="pages-container">

     <div class="overlay" id="invoice-sidebar">
        <div *ngIf="MostrarPopup===true" class="dialog-container sidebar" role="dialog">
           <a class="close-btn">
              <img src="assets/images/ui/close-btn.svg" alt="Close" (click) ="CerrarPopup()">
           </a>
           <div>
            <app-producto-detalle [producto]="producto"></app-producto-detalle>
           </div>
        </div>
     </div>

     <section class="page-invoice restrict-desktop">
        <h1 class="flex-row">{{ 'Traduct.listado_productos' | translate }}</h1>
        <div class="flex-row">
           <div class="table-container desktop-only">
              <table class="table" width="100%" border="0">
                <tbody>
                 <tr class="table-header">
                    <td style="width: 16.666666666666668%">
                      {{ 'Traduct.producto' | translate }}
                    </td>
                    <td style="width: 16.666666666666668%">
                      {{ 'Traduct.tipo_producto' | translate }}
                    </td>
                    <td style="width: 16.666666666666668%">
                      {{ 'Traduct.dias_deuda' | translate }}
                    </td>
                    <td style="width: 16.666666666666668%">
                      {{ 'Traduct.monto_deuda' | translate }}
                    </td>
                  </tr>
                  <tr *ngFor="let producto of productos" (click) = "detalleProducto(producto)">
                    <td style="width: 16.666666666666668%" (click) = "detalleProducto(producto)">
                      {{ producto.NameProd }}
                    </td>
                    <td style="width: 16.666666666666668%" (click) = "detalleProducto(producto)">
                      {{ producto.NameTypeProd }}
                    </td>
                    <td style="width: 16.666666666666668%" (click) = "detalleProducto(producto)">
                      {{ producto.DaysDebt }}
                    </td>
                    <td style="width: 16.666666666666668%" (click) = "detalleProducto(producto)">
                      {{ producto.Moneda }} - {{ removerComas(producto.AmountDebt | number:'1.2-2') }}
                    </td>
                 </tr>
                </tbody>
              </table>
           </div>

           <div class="mobile-only flex-column flex-grow table-container">
            <table class="box table flex-row" *ngFor="let producto of productos">
              <tbody>
               <tr class="table-header" >
                  <td (click) = "detalleProducto(producto)">
                     <p>{{ producto.NameProd }}</p>
                  </td>
               </tr>
               <tr>
                  <td (click) = "detalleProducto(producto)">
                     <p><strong>{{ 'Traduct.tipo_producto' | translate }}</strong></p>
                     <p>{{ producto.NameTypeProd }}</p>
                  </td>
               </tr>
               <tr>
                  <td (click) = "detalleProducto(producto)">
                     <p><strong>{{ 'Traduct.dias_deuda' | translate }}</strong></p>
                     <p>{{ producto.DaysDebt }}</p>
                  </td>
               </tr>
               <tr>
                  <td (click) = "detalleProducto(producto)">
                     <p><strong>{{ 'Traduct.monto_deuda' | translate }}</strong></p>
                     <p>{{ producto.Moneda }} - {{ removerComas(producto.AmountDebt | number:'1.2-2') }}</p>
                  </td>
               </tr>
              </tbody>
            </table>
          </div>
        </div>
     </section>
  </div>
</div>
