<!-- {{ loginForm.value | json }} -->
<div class="flex-column flex-grow" style="display:block; height: 100%;">
    <section class="page-login">
      <div class="flex-row flex-center flex-grow" style="height: 100%">
        <div class="form-container">
          <div class="flex-row flex-center emerix-logo">
            <img class="logo" src="assets/images/logos/emerix.png" alt="">
          </div>
          <form [formGroup]="loginForm" class="form flex-column box" novalidate>
            <div *ngIf="loginAction===1">
                <div class="login-content flex flex-column">
                  <div>
                      <div class="form-group flex-row">
                        <div class="login-dnitype-container">

                          <div [ngClass] = "!(tipoDoc.invalid && (tipoDoc.dirty || tipoDoc.touched)) ? 'input-wrapper select' : 'input-wrapper select error'" >
                            <app-combo-box formControlName="tipoDoc" Texto="Code" ItemDefault="{{ 'Traduct.document' | translate }}" [Lista]="tiposDocumento"></app-combo-box>

                            <div class="input-error-icon" role="alert"></div>
                            <div class="input-error-popup" role="alert">{{ 'Traduct.requerido' | translate }}</div>
                          </div>
                        </div>

                        <div class="flex-grow">
                          <div [ngClass] = "!(numero.invalid && (numero.dirty || numero.touched)) ? 'input-wrapper text' : 'input-wrapper text error'">
                            <input id="numero" type="text" class="input-elem" placeholder="{{ 'Traduct.numero' | translate }}" formControlName="numero" (keypress)="SoloNumeros($event.key)">
                            <div *ngIf="numero.invalid && (numero.dirty || numero.touched)">
                              <div class="input-error-icon" role="alert"></div>
                              <div class="input-error-popup" role="alert">{{ 'Traduct.numero_requerido' | translate }}</div>
                            </div>
                          </div>

                        </div>
                      </div>
<!--                  <div class="visually-hidden">
                        <div class="form-group">
                          <div class="input-wrapper select">
                              <select id="login_genre" required>
                                <option selected="selected" class="placeholder" >Género</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                                <option value="Otro">Otro</option>
                              </select>
                              <div class="input-error-icon" role="alert"></div>
                              <div class="input-error-popup" role="alert">{{ 'Traduct.requerido' | translate }}</div>
                          </div>
                        </div>
                      </div> -->
                      <div class="form-group">
                        <p [innerHTML]="'Traduct.elegi_como_recibir_clave_acceso' | translate"></p>
                        <div class="flex-row flex-center login-method">
                          <div class="flex-column flex-center flex-grow col-1-2">
                              <div class="input-wrapper radio flex-center flex-column">
                                <input id="login-method-call" type="radio" formControlName="medioEnvio" value="T" class="input-elem visually-hidden" name="medioEnvio">
                                  <div class="input-fake-radio">
                                    <span class="input-caret"></span>
                                  </div>
                                  <label for="login-method-call" (click)="TildarMedioEnvio('T')"><img src="assets/images/ui/sms.svg">Sms</label>
                                <div class="input-error-icon" role="alert"></div>
                                <div class="input-error-popup" role="alert">{{ 'Traduct.numero_incorrecto' | translate }}</div>
                              </div>
                            </div>

                            <div class="flex-column flex-center flex-grow col-1-2">
                              <div class="input-wrapper radio flex-center flex-column">
                                <input id="login-method-sms" type="radio" formControlName="medioEnvio" value="M" class="input-elem visually-hidden" name="medioEnvio">
                                  <div class="input-fake-radio">
                                    <span class="input-caret"></span>
                                  </div>
                                  <label for="login-method-sms" (click)="TildarMedioEnvio('M')"><img src="assets/images/ui/mail.svg">Mail</label>
                                <div class="input-error-icon" role="alert"></div>
                                <div class="input-error-popup" role="alert">{{ 'Traduct.numero_incorrecto' | translate }}</div>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="flex-row flex-center">
                        <re-captcha
                          (resolved)="resolved($event)"
                          formControlName="recaptcha"
                          siteKey="6LefLLQZAAAAAH6kIqJshbE6kpBs8XmWjNTGtBGj"
                        >
                        </re-captcha>
                      </div>
                  </div>
                  <div class="flex-row flex-center">
                      <button type="button" class="btn" data-direction="next" (click)="Login()">
                        {{ 'Traduct.siguiente' | translate }}
                        <span *ngIf="loadingTrabajando"><i Class= 'fas fa-sync fa-spin'></i></span>
                      </button>
                  </div>
                </div>
            </div>


            <div *ngIf="loginAction===2">
                <div class="login-content flex flex-column">
                  <div>
                      <div class="form-group">
                        <p class="text-large"><strong>{{ 'Traduct.pregunta_clave' | translate }}</strong></p>
                      </div>

                        <div *ngIf="MedioEnvioSeleccionado==='T'">
                        <div class="form-group flex-column phone-list">
                            <div>
                              <div *ngFor="let telefono of telefonos; let i = index" class="input-wrapper radio">
                                  <input id="{{i}}" type="radio" class="input-elem visually-hidden" name="login_phone" Value="telefono.PhoneValue" (click)="SeleccionMedio('T', telefono.PhoneValue, telefono.Phone)">
                                    <div class="input-fake-radio">
                                      <span class="input-caret"></span>
                                    </div>
                                    <label for="{{i}}">{{telefono.Phone}}</label>
                                  <div class="input-error-icon" role="alert"></div>
                                  <div class="input-error-popup" role="alert">{{ 'Traduct.requerido' | translate }}</div>
                              </div>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="MedioEnvioSeleccionado==='M'">
                        <div class="form-group flex-column phone-list">
                          <div>
                            <div *ngFor="let mail of mails; let i = index" class="input-wrapper radio">
                              <input id="{{i}}" type="radio" class="input-elem visually-hidden" name="login_phone" Value="mail.MailValue" (click)="SeleccionMedio('M', mail.MailValue, mail.Mail)">
                                <div class="input-fake-radio">
                                  <span class="input-caret"></span>
                                </div>
                                <label for="{{i}}">{{mail.Mail}}</label>
                              <div class="input-error-icon" role="alert"></div>
                              <div class="input-error-popup" role="alert">{{ 'Traduct.requerido' | translate }}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="form-group flex-row flex-center">
                      <button type="button" class="btn secondary" data-direction="back" (click)="Volver(1)">{{ 'Traduct.volver' | translate }}</button>
                      <button type="button" class="btn" data-direction="next" (click)="EnviarCodigo()" [disabled]='loadingTrabajando'>
                        {{ 'Traduct.enviar_token' | translate }}
                        <span *ngIf="loadingTrabajando"><i Class= 'fas fa-sync fa-spin'></i></span>
                      </button>
                  </div>
                  <div class="visually-hidden">
                    <a href="#" class="text-silver" data-dialog-target="login-1">{{ 'Traduct.recibir_otro_tel' | translate }}</a>
                  </div>
                </div>
            </div>

            <form [formGroup]="loginFormIngreso" novalidate>
                  <div *ngIf="loginAction===3" class="login-content flex flex-column">
                    <div>
                        <div class="form-group">
                          <p><strong>{{ 'Traduct.ingrese_token' | translate }}</strong></p>
                          <div class="input-wrapper text">
                              <input id="login_key" type="text" class="input-elem" formControlName="codigo">

                              <div class="input-error-icon" role="alert"></div>
                              <div class="input-error-popup" role="alert">{{ 'Traduct.requerido' | translate }}</div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="text-right">
                              <a [routerLink]="" (click)="InconvenienteCodigo()" class="text-silver" data-dialog-target="login-2">{{ 'Traduct.inconvenientes_token' | translate }} </a>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="input-wrapper checkbox">
                              <input type="checkbox" class="input-elem visually-hidden" id="AceptaTerminos" (click)="AceptoTerminos()">
                              <div class="input-fake-checkbox">
                                <span class="input-caret"></span>
                              </div>
                              <label for="AceptaTerminos">{{ 'Traduct.acepto_los' | translate }} <a [routerLink]="" (click)="TerminosCondiciones()"  data-dialog-target="login-tyc">{{ 'Traduct.terminos_condiciones' | translate }}</a></label>
                              <div class="input-error-icon" role="alert"></div>
                              <div class="input-error-popup" role="alert">{{ 'Traduct.requerido' | translate }}</div>
                          </div>
                        </div>

                    </div>
                    <div class="flex-row flex-center">
                        <button type="button" class="btn secondary" data-direction="back" (click)="Volver(2)">{{ 'Traduct.volver' | translate }}</button>
                        <button type="button" class="btn" data-direction="next" (click)="IngresarPortal()">
                          {{ 'Traduct.ingresar' | translate }}
                          <span *ngIf="loadingTrabajando"><i Class= 'fas fa-sync fa-spin'></i></span>
                        </button>
                    </div>
                  </div>
            </form>
          </form>
        </div>
        <div class="bg-container">
        </div>
      </div>

      <!-- popup -->
      <div (click)="cerrarPopup()" class="overlay">

        <!-- consultas -->
        <div *ngIf="popupNro===1" class="dialog-container login-dialog login-dialog-3" role="dialog">
            <a class="close-btn" (click)="cerrarPopup()">
                <img src="assets/images/ui/close-btn.svg" alt="Close">
            </a>
            <div class="dialog-content login-dialog login-dialog-3-content">
              <app-consulta></app-consulta>
            </div>
        </div>

        <!-- terminos y condiciones -->
        <div *ngIf="popupNro===2" class="dialog-container login-dialog login-tyc" role="dialog">
          <a class="close-btn" (click)="cerrarPopup()">
              <img src="assets/images/ui/close-btn.svg" alt="Close">
          </a>
          <div>
            <app-termino></app-termino>
          </div>
        </div>

        <!-- mensaje datos invalidos -->
        <div *ngIf="popupNro===3" class="dialog-container login-dialog login-dialog-1" role="dialog">
          <a class="close-btn" (click)="cerrarPopup()">
              <img src="assets/images/ui/close-btn.svg" alt="Close">
          </a>
          <div class="dialog-content login-dialog">
              <div>
                <div class="flex-column flex-center">
                  <div><img width="70px" height="70px" src="assets/images/ui/exclamation-triangle-solid.svg" alt=""></div>
                  <div class="text-center">
                    <p>{{ MensajeAlert }}</p>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <!-- mensaje para cuando no tiene telefonos/mails -->
        <div *ngIf="popupNro===4" class="dialog-container login-dialog login-dialog-1" role="dialog">
          <a class="close-btn">
            <img src="assets/images/ui/close-btn.svg" alt="Close">
          </a>
          <div class="dialog-content login-dialog login-dialog-1-content">

            <div>
              <div class="flex-column flex-center">
                <div>
                  <img width="70px" height="70px" src="assets/images/ui/exclamation-triangle-solid.svg" alt="">
                </div>
                <div class="text-center">
                  <h1 class="text-large">
                    {{ MensajeTituloAlert }}
                  </h1>
                  <p>
                    {{ MensajeAlert }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- popup -->
    </section>
</div>
