<!-- {{ pagoForm.value | json}} -->
<!-- <div class="pages-container flex-grow"> --> <!-- LO HACE EL TS -->
  <section class="page-payments" [hidden]="stepPago !== 1">
     <div class="page-progress">
       <div class="progress progress-5"></div>
     </div>
     <div class="flex-column page-header">
        <p class="top-decoration">{{ 'Traduct.avisar_pago' | translate }}</p>
     </div>
     <div class="restrict-width small">
        <div class="title">
           <h1 class="page-title">{{ 'Traduct.registrar_pago' | translate }}</h1>
           <p class="page-subtitle"><span></span>{{ 'Traduct.registrar_pago_t1' | translate }}</p>
        </div>
        <form class="" [formGroup]="pagoForm" id="pagoForm">
          <div class="box flex-column row-container">
            <div class="flex-row col-container">
                <div class="col-2-3">
                  <div class="form-group">
                    <div [ngClass] = "!(Importe.invalid && (Importe.dirty || Importe.touched)) ? 'input-wrapper text' : 'input-wrapper text error'">
                      <input id="Importe" type="number" class="input-elem" placeholder="{{ 'Traduct.total_abonado' | translate }}" formControlName="Importe" step="0.01">
                      <div class="input-error-icon" role="alert"></div>
                      <div class="input-error-popup" role="alert">{{ 'Traduct.total_abonado' | translate }} {{ 'Traduct.requerido' | translate }}</div>
                    </div>
                  </div>
                </div>
                <div class="col-1-3">
                  <div class="form-group">
             <!--  <div Class = "input-wrapper select">
                      <select name="IdMoneda" id="IdMoneda" formControlName="IdMoneda">
                          <option selected="selected" class="placeholder" value="0">{{ 'Traduct.moneda' | translate }}</option>
                          <option [value]="mon.Id" *ngFor="let mon of monedas">{{mon.Nombre}}</option>
                      </select>
                      <div class="input-error-icon" role="alert"></div>
                      <div class="input-error-popup" role="alert">{{ 'Traduct.seleccione_moneda' | translate }}</div>
                    </div> -->
                    <app-combo-box formControlName="IdMoneda" Texto="Name" ItemDefault="{{ 'Traduct.moneda' | translate }}" [Lista]="monedas"></app-combo-box>
                  </div>
                </div>
            </div>
              <div class="flex-row col-container flex-column-on-mobile">
                <div class="col-2-3">
                  <div class="form-group">
                    <div [ngClass] = "!(NumeroComprobante.invalid && (NumeroComprobante.dirty || NumeroComprobante.touched)) ? 'input-wrapper text flex-center flex-column' : 'input-wrapper text flex-center flex-column error'">
                      <input id="NumeroComprobante" type="text" class="input-elem" placeholder="{{ 'Traduct.nro_boleta' | translate }}" maxlength="50" (keypress)="SoloNumerosLetras($event.key)" formControlName="NumeroComprobante">
                      <div class="input-error-icon" role="alert"></div>
                      <div class="input-error-popup" role="alert">{{ 'Traduct.nro_boleta' | translate }} {{ 'Traduct.requerido' | translate }}</div>
                    </div>
                </div>
                </div>
                <div class="col-1-3">
                  <div class="form-group">
                    <div [ngClass] = "!(FechaPago.invalid && (FechaPago.dirty || FechaPago.touched)) ? 'input-wrapper date' : 'input-wrapper date error'">
                      <app-input-date formControlName="FechaPago"></app-input-date>
                      <div class="input-error-icon" role="alert"></div>
                      <div class="input-error-popup" role="alert">{{ 'Traduct.seleccione_fecha' | translate }}</div>
                    </div>
                  </div>
                </div>
            </div>
            <div>
                <p>{{ 'Traduct.registrar_pago_t2' | translate }}:</p>
                <div class="payment-selector">
                  <ul class="flex-row">
                    <div class="selectable-box flex-row" id="box-5426221049">
                      <li *ngFor="let medio of mediosPago" id="{{medio.Id}}" class="flex-column flex-center" (click)="MedioPago(medio)">
                        <img src="assets/images/sections/payments/{{medio.Imagen}}" alt="">
                      </li>
                    </div>
                  </ul>
                </div>
            </div>
            <div class="form-group">
              <div class="input-wrapper textarea">
                <textarea id="Comentario" formControlName="Comentario" maxlength="255" placeholder="{{ 'Traduct.comentario' | translate }}">
                </textarea>
                <div class="input-error-icon" role="alert"></div>
                <div class="input-error-popup" role="alert">Required</div>
              </div>
          </div>
          </div>
          <div>
            <button type="submit" class="btn next" data-next [disabled]="pagoForm.invalid" (click)="CorroborarPago()">{{ 'Traduct.siguiente' | translate }}</button>
          </div>
        </form>
      </div>

      <!-- popup -->
      <div class="overlay" id="dialog_alert">
        <div *ngIf="MostrarAlert===true" class="dialog-container" role="dialog">
          <a class="close-btn" (click)="cerrarAlert()">
            <img src="assets/images/ui/close-btn.svg" alt="Close" />
          </a>
          <div class="dialog-content login-dialog">
            <div>
              <div class="flex-column flex-center">
                <div><img width="70px" height="70px" src="assets/images/ui/exclamation-triangle-solid.svg" alt=""></div>
                <div class="text-center">
                  <p>{{ MensajeAlert }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

  <section class="page-pay" [hidden]="stepPago !== 2">
      <div class="page-progress">
        <div class="progress progress-70"></div>
      </div>

      <div class="flex-column page-header">
        <a class="top-decoration" (click)="stepPago=1;" style="cursor: pointer;">{{
          "Traduct.volver_anterior" | translate
        }}</a>
      </div>

      <div class="restrict-width large">
        <div class="title">
          <h1 class="page-title text-large">
            {{ "Traduct.confirmar_monto" | translate }}
          </h1>
        </div>

        <div class="box flex-row flex-column-on-mobile">
          <div class="col-1-2 text-center full-width-mobile">
            <span class="text-violet">
              <strong>{{ "Traduct.importe_a_pagar" | translate }}</strong></span>
            <br />
            <span class="text-xlarge">
              <div class="price-container">
                <span class="denomination"></span>{{ GetImporteSplit(true)
                }}<sup class="cents">{{ GetImporteSplit(false) }}</sup>
              </div>
            </span>
          </div>

         <div class="col-1-2 text-center full-width-mobile">
            <span class="text-violet"
              ><strong>{{ "Traduct.moneda" | translate }}</strong></span
            >
            <br />
            <span class="text-xlarge">
              <div class="price-container">
                <span class="denomination"></span>{{ GetNombreMoneda(pagoForm.value.IdMoneda) }}
              </div>
            </span>
          </div>

          <div class="col-1-2 text-center full-width-mobile">
            <span class="text-violet">
              <strong>{{ "Traduct.nro_boleta" | translate }}</strong></span>
            <br />
            <span class="text-xlarge">
              <div class="price-container">
                <span class="denomination"></span>{{ pagoForm.value.NumeroComprobante  }}
              </div>
            </span>
          </div>

          <div class="col-1-2 text-center full-width-mobile">
            <span class="text-violet">
              <strong>{{ "Traduct.fecha" | translate }}</strong></span>
            <br />
            <span class="text-xlarge">{{
              pagoForm.value.FechaPago | date: "dd/MM/yyyy"
            }}</span>
          </div>


         <div class="col-1-2 text-center full-width-mobile">
            <span class="text-violet"
              ><strong>{{ "Traduct.medio_pago" | translate }}</strong></span>
            <br />
            <span class="text-xlarge">
              <div class="price-container">
                <img width="70px" height="70px" src="assets/images/sections/payments/{{MedioSeleccionado}}" alt="">
              </div>
            </span>
          </div>
        </div>
        <p class="disclaimer">
          {{ "Traduct.registrar_pago_t3" | translate }}
        </p>

        <button class="btn" (click)="IngresarPago()">
          {{ "Traduct.confirmar" | translate }}
        </button>
      </div>
  </section>

  <section class="page-pay pay-success" [hidden]="stepPago !== 3">
    <div class="flex-column page-header">
        <a class="top-decoration" routerLink="/home/default">{{ "Traduct.volver_home" | translate }}</a>
    </div>

    <div class="success flex-column flex-center text-center restrict-width">
        <h2 class="title">{{ "Traduct.registrar_pago_t4" | translate }}</h2>
        <img src="assets/images/ui/common/success.svg" alt="Success image">
        <p class="subtitle" [innerHTML]="'Traduct.registrar_pago_t5' | translate"></p>
    </div>

  </section>
<!-- </div> -->
