<h3>{{ 'Traduct.informar_pago' | translate }}</h3>
<!-- {{ pagoForm.value | json}} -->

<form [formGroup]="pagoForm" autocomplete="off" (ngSubmit)="IngresarPago()">
  <div class="form-group">
    <div class="form-row mt-1" appearance="fill">
      <div class="form-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2">
        <label for="MedioPago">{{ 'Traduct.medio_pago' | translate }}:</label>
      </div>
      <div class="form-col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <select name="IdMedioPago" class="form-control" formControlName="IdMedioPago" [class.is-invalid]="pagoForm.get('IdMedioPago').touched && pagoForm.get('IdMedioPago').invalid">
          <option [value]="medio.Id" *ngFor="let medio of mediosPago">{{medio.Nombre}}</option>
        </select>

        <div *ngIf="IdMedioPago.invalid && (IdMedioPago.dirty || IdMedioPago.touched)" class="alert alert-danger">
          <div *ngIf="IdMedioPago.errors.required">
            {{ 'Traduct.seleccione_medio_pago' | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-row mt-1" appearance="fill">
      <div class="form-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2">
        <label for="Moneda">{{ 'Traduct.moneda' | translate }}:</label>
      </div>
      <div class="form-col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <select name="IdMoneda" class="form-control" formControlName="IdMoneda" [class.is-invalid]="pagoForm.get('IdMoneda').touched && pagoForm.get('IdMoneda').invalid">
          <option [value]="mon.Id" *ngFor="let mon of monedas">{{mon.Nombre}}</option>
        </select>

        <div *ngIf="IdMoneda.invalid && (IdMoneda.dirty || IdMoneda.touched)" class="alert alert-danger">
          <div *ngIf="IdMoneda.errors.required">
            {{ 'Traduct.seleccione_moneda' | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-row mt-1" appearance="fill">
      <div class="form-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2">
        <label for="Importe">{{ 'Traduct.total_abonado' | translate }}:</label>
      </div>
      <div class="form-col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <input type="number" placeholder="100.25" class="form-control" formControlName="Importe" step="0.01" [class.is-invalid]="pagoForm.get('Importe').touched && pagoForm.get('Importe').invalid">
        <div *ngIf="Importe.invalid && (Importe.dirty || Importe.touched)" class="alert alert-danger">
          <div *ngIf="Importe.errors.required">
            {{ 'Traduct.monto_requerido' | translate }}
          </div>
          <div *ngIf="Importe.errors.min">
            {{ 'Traduct.monto_mayor_cero' | translate }}
          </div>
          <div *ngIf="Importe.errors.max">
            {{ 'Traduct.monto_mayor_superado' | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-row mt-1" appearance="fill">
      <div class="form-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2">
        <label for="Fecha">{{ 'Traduct.fecha' | translate }}:</label>
      </div>
      <div class="form-col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <input type="date" placeholder="Fecha" class="form-control" formControlName="Fecha" [class.is-invalid]="pagoForm.get('Fecha').touched && pagoForm.get('Fecha').invalid"/>
        <div *ngIf="pagoForm.controls['Fecha'].touched && pagoForm.controls['Fecha'].errors?.required" class="alert alert-danger">
          {{ 'Traduct.seleccione_fecha' | translate }}
        </div>
      </div>
    </div>

    <div class="form-row mt-1" appearance="fill">
      <div class="form-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2">
        <label for="NumeroComprobante">{{ 'Traduct.nro_boleta' | translate }}:</label>
      </div>
      <div class="form-col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <input type="text" placeholder="0002-0000000058" class="form-control" maxlength="50" (keypress)="SoloNumerosLetras($event)" formControlName="NumeroComprobante" [class.is-invalid]="pagoForm.get('NumeroComprobante').touched && pagoForm.get('NumeroComprobante').invalid">
        <div *ngIf="NumeroComprobante.invalid && (NumeroComprobante.dirty || NumeroComprobante.touched)" class="alert alert-danger">
          <div *ngIf="NumeroComprobante.errors.required">
            {{ 'Traduct.numero_requerido' | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-row mt-1" appearance="fill">
      <div class="form-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2">
        <label for="Comentario">{{ 'Traduct.comentario' | translate }}:</label>
      </div>
      <div class="form-col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <textarea rows="4" placeholder="Comentario" class="form-control rounded-0" formControlName="Comentario" maxlength="255"></textarea>
       </div>
    </div>
  </div>
  <div class="form-row mt-3" appearance="fill">
    <input type="submit" class="btn" value="{{ 'Traduct.registrar' | translate }}" [disabled]="pagoForm.invalid">
    <span class="mdc-floating-label" class="col-1"></span>
    <input type="button" class="btn" value="{{ 'Traduct.comprobantes' | translate }}" (click)="Detalle()">
    <span class="mdc-floating-label" class="col-1"></span>
    <input type="button" class="btn" value="{{ 'Traduct.volver' | translate }}" (click)="Volver()">
  </div>
</form>
