<!-- <div class="flex-column flex-grow">
  <div class="pages-container">
     <section class="page-invoice">
        <h1 class="flex-row">{{ 'Traduct.tus_comprobantes' | translate }}</h1>
        <div class="flex-row">
           <div class="table-container desktop-only">
              <table class="table" width="100%" border="0">
                <tbody>
                 <tr class="table-header">
                    <td style="width: 20%">
                      {{ 'Traduct.fecha_pago' | translate }}
                    </td>
                    <td style="width: 20%">
                      {{ 'Traduct.monto_pagado' | translate }}
                    </td>
                    <td style="width: 20%">
                      N° {{ 'Traduct.comprobante' | translate }}
                    </td>
                    <td style="width: 20%">
                      {{ 'Traduct.medio_pago' | translate }}
                    </td>
                  </tr>
                  <tr *ngFor="let comprobante of Comprobantes" style= "cursor: default;">
                    <td style="width: 20%">
                      {{ comprobante.Fecha | date: 'dd/MM/yyyy'}}
                    </td>
                    <td style="width: 20%">
                      {{ comprobante.Moneda }} {{' '}} {{ comprobante.Importe | number:'1.2-2'}}
                    </td>
                    <td style="width: 20%">
                      {{ comprobante.NumeroComprobante }}
                    </td>
                    <td style="width: 20%">
                      {{ comprobante.MedioPago }}
                    </td>
                 </tr>
                </tbody>
              </table>
           </div>

           <div class="mobile-only flex-column flex-grow table-container">
            <table class="box table flex-row" *ngFor="let comprobante of Comprobantes">
              <tbody>
               <tr>
                  <td>
                     <p><strong>{{ 'Traduct.fecha_pago' | translate }}</strong></p>
                     <p>{{ comprobante.Fecha | date: 'dd/MM/yyyy'}}</p>
                  </td>
               </tr>
               <tr>
                  <td>
                     <p><strong>{{ 'Traduct.monto_pagado' | translate }}</strong></p>
                    <p>{{ comprobante.Moneda }} {{' '}} {{ comprobante.Importe | number:'1.2-2'}}</p>
                  </td>
               </tr>
               <tr>
                  <td>
                    <p><strong>N° {{ 'Traduct.comprobante' | translate }}</strong></p>
                     <p>{{ comprobante.NumeroComprobante }}</p>
                  </td>
               </tr>
               <tr>
                  <td>
                     <p><strong>{{ 'Traduct.medio_pago' | translate }}</strong></p>
                     <p>{{ comprobante.MedioPago }}</p>
                  </td>
               </tr>
              </tbody>
            </table>
          </div>
        </div>
     </section>
  </div>
</div>
 -->
 <!-- <div class="pages-container flex-grow"> --> <!-- LO HACE EN EL TS -->
  <section class="page-logs">
     <div class="flex-column page-header">
        <p class="top-decoration">{{ 'Traduct.tus_comprobantes' | translate }}</p>
     </div>
     <div class="restrict-width">
        <div class="title">
           <h1 class="page-title text-large">{{ 'Traduct.tus_comprobantes_t1' | translate }}</h1>
           <p class="page-subtitle"><span></span>{{ 'Traduct.tus_comprobantes_t2' | translate }}</p>
        </div>
        <div class="box">
           <div class="table-container">
              <table class="table selectable" width="100%" border="0">
                <tbody>
                 <tr class="table-header">
                    <td class="col-1-4">
                      {{ 'Traduct.fecha_pago' | translate }}
                    </td>
                    <td class="col-1-4 desktop-only">
                      N° {{ 'Traduct.comprobante' | translate }}
                    </td>
                    <td class="col-1-4">
                      {{ 'Traduct.medio_pago' | translate }}
                    </td>
                    <td class="col-1-4 text-right">
                      {{ 'Traduct.monto_pagado' | translate }}
                    </td>
                 </tr>
                 <tr *ngFor="let comprobante of Comprobantes">
                    <td class="col-1-4">
                       <div class="flex-row justify-between" style="width: 80%">
                          <div>{{ comprobante.Fecha | date: 'dd/MM/yyyy'}}</div>
                          <!-- <a href="#" class="download-icn"><img src="assets/images/ui/tables/download.svg" alt=""></a> -->
                       </div>
                    </td>
                    <td class="col-1-4 desktop-only">
                      {{ comprobante.NumeroComprobante }}
                    </td>
                    <td class="col-1-4">
                      {{ comprobante.MedioPago }}
                    </td>
                    <td class="col-1-4 text-right">
                      {{ comprobante.Moneda }} {{' '}} {{ comprobante.Importe | number:'1.2-2'}}
                    </td>
                 </tr>
                </tbody>
              </table>
           </div>
        </div>
     </div>
  </section>
<!-- </div> -->
