<div class="dialog-container billing-dialog" role="dialog">
  <a class="close-btn" (click)="cerrarPopup()">
    <img src="assets/images/ui/close-btn.svg" alt="Close" />
  </a>
  <div class="dialog-content billing-dialog-content">
    <div>
      <div class="billing-title">
        <h3>
          <img src="assets/images/ui/tables/prestamo.svg" alt="" />{{
            "Traduct.acuerdos" | translate
          }}
        </h3>
      </div>
      <div class="table-container row-container">
        <table class="table" width="100%">
          <tbody>
            <tr class="table-header">
              <td class="col-1-6 text-center">
                {{ "Traduct.cuota" | translate }}
              </td>
              <td class="col-1-6 text-center">
                {{ "Traduct.fecha_vencimiento" | translate }}
              </td>
              <td
                *ngIf="historico"
                class="col-1-6 text-center"
                [ngClass]="{ 'desktop-only': EsAcuerdo === false }"
              >
                {{ "Traduct.estado" | translate }}
              </td>
              <td *ngIf="!EsAcuerdo" class="col-1-6 text-center">
                {{ "Traduct.capital" | translate }}
              </td>
              <td *ngIf="!EsAcuerdo" class="col-1-6 text-center">
                {{ "Traduct.interes_periodo" | translate }}
              </td>
              <td class="col-1-6 text-center">
                {{ "Traduct.monto" | translate }}
              </td>
            </tr>
            <tr *ngFor="let cuota of cuotas">
              <td class="col-1-6 text-center">{{ cuota.Numero }}</td>
              <td class="col-1-6 text-center">
                {{ cuota.FechaVencimiento | date: "dd/MM/yyyy" }}
              </td>
              <td
                *ngIf="historico"
                class="col-1-6 text-center"
                [ngClass]="{ 'desktop-only': EsAcuerdo === false }"
              >
                {{ cuota.Estado }}
              </td>
              <td *ngIf="!EsAcuerdo" class="col-1-6 text-center">
                {{ cuota.Capital }}
              </td>
              <td *ngIf="!EsAcuerdo" class="col-1-6 text-center">
                {{ cuota.Interes }}
              </td>
              <td class="col-1-6 text-center">
                {{ cuota.MontoTotal | currency: "ARS":"symbol-narrow":"1.2-2" }}
              </td>
            </tr>
            <tr>
              <td class="col-1-6 text-center"></td>
              <td class="col-1-6 text-center"></td>
              <td class="col-1-6 text-center"></td>
              <td *ngIf="!historico" class="col-1-6 text-center">
                <strong>{{ "Traduct.total" | translate }}</strong>
              </td>
              <td *ngIf="!historico" class="col-1-6 text-center">
                <strong>{{
                  acuerdo?.MontoFinanciar
                    | currency: "ARS":"symbol-narrow":"1.2-2"
                }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <a
        *ngIf="!historico"
        class="btn secondary active"
        (click)="seleccionar()"
        >{{ "Traduct.seleccion_plan" | translate }}</a
      >
    </div>
  </div>
</div>
