<input aria-hidden="true" type="checkbox" class="dropdown-trigger" id="dropdown-trigger-dropdown-1829348503">
  <label class="dropdown-title item" for="dropdown-trigger-dropdown-1829348503">
    <img src="assets/images/ui/topbar/notificaciones.svg" alt="">
    <ng-container *ngIf="Cant>0">
      <div class="notifications-alert"></div>
    </ng-container>
  </label>
<div class="dropdown-target">
    <ul>
      <li><strong>{{ 'Traduct.notificaciones' | translate }}</strong></li>
      <li>
          <hr>
      </li>
      <li *ngFor="let not of Notificaciones">
        {{ not.Notificacion }}
      </li>
      <div *ngIf="Cant === 0">
        {{ 'Traduct.sin_notificaciones' | translate }}
      </div>
    </ul>
</div>

