<nav class="main-navigation">
  <input type="checkbox" class="visually-hidden mobile-menu-toggle" id="mobile-menu-toggle">
  <label class="mobile-menu-toggle-label" for="mobile-menu-toggle">
  <img src="assets/images/ui/menu.svg" alt="">
  </label>
  <div class="navigation-container">
     <div class="text-center">
        <img class="logo" src="assets/images/logos/emerix.png" alt="">
     </div>
     <ul>
        <li class="navigation-item" style="--icon: url('assets/images/ui/navigation/icono-home.svg');">
           <a class="item" [routerLink]="" (click)="Inicio()">{{ 'Traduct.inicio' | translate }}</a>
        </li>
        <li class="navigation-item" style="--icon: url('');">
           <hr>
        </li>
        <li class="navigation-item" style="--icon: url('assets/images/ui/navigation/icono-info.svg');">
           <a class="item" [routerLink]="" (click)="MisCuentas()">{{ 'Traduct.mis_cuentas' | translate }}</a>
        </li>
        <li class="navigation-item" style="--icon: url('assets/images/ui/navigation/icono-pagar.svg');">
           <input aria-hidden="true" type="checkbox" class="dropdown-trigger" id="dropdown-trigger-pagos">
           <label class="dropdown-title item" for="dropdown-trigger-pagos">
            {{ 'Traduct.pagos' | translate }}
           </label>
           <div class="dropdown-target">
              <ul>
                 <li class="item">
                    <a [routerLink]="" (click)="Pagar()">{{ 'Traduct.pagar' | translate }}</a>
                 </li>
                 <li class="item">
                    <a [routerLink]="" (click)="RegistrarPago()">{{ 'Traduct.registrar_pago' | translate }}</a>
                 </li>
                 <li class="item">
                    <a [routerLink]="" (click)="Comprobantes()">{{ 'Traduct.comprobantes' | translate }}</a>
                 </li>
              </ul>
           </div>
        </li>
        <li class="navigation-item" style="--icon: url('assets/images/ui/navigation/icono-acuerdo.svg');">
           <input aria-hidden="true" type="checkbox" class="dropdown-trigger" id="dropdown-trigger-acuerdos">
           <label class="dropdown-title item" for="dropdown-trigger-acuerdos">
            {{ 'Traduct.acuerdos' | translate }}
           </label>
           <div class="dropdown-target">
              <ul>
                 <li class="item">
                    <a [routerLink]="" (click)="PromesasPago()">{{ 'Traduct.promesa_pago' | translate }}</a>
                 </li>
                 <li class="item">
                    <a [routerLink]="" (click)="PlanPago()">{{ 'Traduct.plan_pago' | translate }}</a>
                 </li>
                 <li class="item">
                    <a [routerLink]="" (click)="EstadoSolicitudes()">{{ 'Traduct.estado_solicitudes' | translate }}</a>
                 </li>
              </ul>
           </div>
        </li>
        <li class="navigation-item" style="--icon: url('');">
           <hr>
        </li>
        <li class="navigation-item" style="--icon: url('assets/images/ui/navigation/icono-perfil.svg');">
           <a class="item" [routerLink]="" (click)="TuPerfil()">{{ 'Traduct.tu_perfil' | translate }}</a>
        </li>
        <li class="navigation-item" style="--icon: url('assets/images/ui/navigation/icono-faq.svg');">
           <a class="item" [routerLink]="" (click)="PreguntasFrecuentes()">{{ 'Traduct.preguntas_frecuentes' | translate }}</a>
        </li>
        <li class="navigation-item" style="--icon: url('assets/images/ui/navigation/icono-salir.svg');">
           <a class="item" [routerLink]="" (click)="Salir()">{{ 'Traduct.salir' | translate }}</a>
        </li>
     </ul>
  </div>
</nav>
