<div class="flex-column flex-grow">
  <div class="pages-container">
    <div class="overlay" id="deals-sidebar">
      <div class="dialog-container" role="dialog">
        <a class="close-btn">
          <img
            src="../../../../../assets/images/ui/close-btn.svg"
            alt="Close"
          />
        </a>
        <div class="dialog-content sidebar">
          <div>
            <div class="flex-column">
              <img src="https://placekitten.com/g/165/165" alt="" />
              <h1>¡Promesa de pago generada con éxito!</h1>
              <p>{{ this.respuesta.mensajes.OpeOk }}</p>
              <!-- <button class="btn" routerLink="/pagos">Pagar ahora</button -->
              <button class="btn secondary" routerLink="/home">
                {{ 'Traduct.continuar' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="page-deals">
      <div class="flex-row flex-center">
        <h1 class="flex-grow">Promesa de pago</h1>
        <div>
          <div class="breadcrumb-container" id="">
            <ul class="flex-row">
              <li class="active breadcrumb">
                item1
              </li>
              <li class="active last-of-type breadcrumb">
                item2
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="flex-row">
        <div class="box flex-grow text-center">
          <h3>Importe acordado</h3>
          <p class="text-xlarge">${{ this.respuesta.totalPagar }}</p>
        </div>
        <div class="box flex-grow text-center">
          <h3>Plazo de pago</h3>
          <p class="text-xlarge">
            {{ this.respuesta.fechaPromesaVencimiento | date: 'dd/MM/yyyy' }}
          </p>
        </div>
      </div>

      <div class="flex-row">
        <div class="table-container desktop-only">
          <table class="table disabled" width="100%" border="0">
            <tbody>
              <tr class="table-header">
                <td style="width: 20%;">
                  Producto
                </td>
                <td style="width: 20%;">
                  Atraso
                </td>
                <td style="width: 20%;">
                  Importe adeudado
                </td>
                <td style="width: 20%;">
                  Importe a pagar
                </td>
              </tr>
              <tr *ngFor="let item of productos">
                <td style="width: 20%;">
                  {{ item.NombreProducto }}
                </td>
                <td style="width: 20%;">{{ item.DiasMora }} dias</td>
                <td style="width: 20%;">${{ item.Deuda }}</td>
                <td style="width: 20%;">${{ item.ImportePago }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mobile-only flex-column flex-grow table-container">
          <table
            class="box table flex-orw disabled"
            *ngFor="let item of productos"
          >
            <tbody>
              <tr class="table-header">
                <td>
                  <p>{{ item.NombreProducto }}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p><strong>Atraso</strong></p>
                  <p>{{ item.DiasMora }}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p><strong>Importe adeudado</strong></p>
                  ${{ item.Deuda }}
                </td>
              </tr>
              <tr>
                <td>
                  <p><strong>Importe a pagar</strong></p>
                  ${{ item.ImportePago }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <p>
        <img src="../../../../../assets/images/ui/icono_info.svg" alt="" />
        {{ this.respuesta.mensajes.Termino }}
      </p>
      <div class="deal-mini flex-row">
        <button class="btn secondary" (click)="volver()">{{ 'Traduct.volver' | translate }}</button>
        <button class="btn" (click)="postPromesa()">{{ 'Traduct.confirmar' | translate }}</button>
      </div>
    </section>
  </div>
</div>
