<!-- <div class="pages-container flex-grow"> --> <!-- LO HACE EN EL TS -->
  <!-- <div class="overlay" id="home-sidebar">
     SE CARGA EL COMPONENTE PRODUCTO-DETALLE (DENTRO DE PRODUCTO-LISTADO)
     </div>
  </div> -->
  <section class="page-home" [hidden]="estadoPago !== '' || stepPago != 0 ">
     <div class="flex-column page-header">
        <p class="top-decoration">Inicio</p>
     </div>
     <div class="restrict-width large">
        <div>
           <div class="title large">
              <h1 class="page-title">{{ 'Traduct.hola' | translate }} {{ Cliente }},</h1>
              <p class="page-subtitle">{{ 'Traduct.default_t1' | translate }}</p>
           </div>
        </div>
        <div class="flex-row justify-center col-container">
           <div class="flex-column col-2-3">
              <!--BOX COMPONENTE DEUDA-->
              <app-deuda></app-deuda>

              <div class="mobile-only">
                 <ul class="flex-row mobile-btns">
                    <li class="col-1-3 text-center">
                       <a [routerLink]="" (click)="AvisarPago()">
                       <img src="assets/images/sections/home/01.svg" alt="">
                       {{ 'Traduct.avisar_pago' | translate }}
                       </a>
                    </li>
                    <li class="col-1-3 text-center">
                       <a [routerLink]="" (click)="PrometeFecha()">
                       <img src="assets/images/sections/home/02.svg" alt="">
                       {{ 'Traduct.prometer_fecha' | translate }}
                       </a>
                    </li>
                    <li class="col-1-3 text-center">
                       <a [routerLink]="" (click)="PagarCuotas()">
                       <img src="assets/images/sections/home/03.svg" alt="">
                       {{ 'Traduct.pagar_cuotas' | translate }}
                       </a>
                    </li>
                 </ul>
              </div>
              <div class="">
                <!--BOX COMPONENTE PRODUCTO-->
                <app-producto-listado></app-producto-listado>
              </div>
           </div>

           <div class="flex-column col-1-3">
              <div class="box prom-text relative">
                 <p>Diseñamos un plan de pago especialmente para vos ;)</p>
                 <div class="text-right">
                    <button class="btn secondary">Ver plan</button>
                 </div>
              </div>
              <div>
                  <app-promesa-ultima (stepPago)="onStepPago($event)" (pagoGen)="onPagoGen($event)"></app-promesa-ultima>
              </div>
              <div class="">
                <app-ultimos-acuerdos></app-ultimos-acuerdos>
              </div>
           </div>
        </div>
     </div>
  </section>
<!-- </div> -->

<app-estado-pago
  [hidden]="estadoPago === ''"
  (volver)="onVolviendo($event)"
></app-estado-pago>

<section class="page-pay pay_5" [hidden]="stepPago != 1">
   <app-pago-metodos
     [pago]="pagoGen"
     [pagoStep]="stepPago"
     (volviendo)="onVolver($event)"
   >
   </app-pago-metodos>
 </section>