<div class="flex-row flex-column-on-mobile justify-center">
    <div class="flex-column flex-grow home-area">

      <!--BOX COMPONENTE DEUDA-->
      <app-deuda></app-deuda>

      <!--BOX ULTIMOS 3 COMPROBANTES -->
      <app-ultimos-comprobantes></app-ultimos-comprobantes>
    </div>

    <div class="flex-column flex-grow home-area">

      <!--LIMPIAR -->
      <div class="box">
          <p class="text-center"><img src="https://placekitten.com/g/450/150" alt=""></p>
          <hr>
           <p class="wide-link"><a>¡Accedé a este beneficio ahora!</a></p>
      </div>

      <!--BOX PROMESAS DE PAGO -->
      <app-promesa-ultima></app-promesa-ultima>
    </div>
</div>
