<!--<div class="flex-row flex-column-on-mobile justify-center">-->
    <!--<div class="flex-column flex-grow home-area">-->

      <!--BOX COMPONENTE DEUDA-->
      <!--<app-deuda></app-deuda>-->

      <!--BOX ULTIMOS 3 COMPROBANTES -->
      <!--<app-ultimos-comprobantes></app-ultimos-comprobantes>-->
    <!--</div>-->

    <!--<div class="flex-column flex-grow home-area">-->

      <!--LIMPIAR -->
      <!--<div class="box">-->
         <!--<p class="text-center"><img src="https://placekitten.com/g/450/150" alt=""></p>-->
          <!--<hr>-->
          <!--<p class="wide-link"><a>¡Accedé a este beneficio ahora!</a></p>-->
      <!--</div>-->

      <!--BOX PROMESAS DE PAGO -->
      <!--<app-promesa-ultima></app-promesa-ultima>-->
    <!--</div>-->
<!--</div>-->

<!-- <div class="pages-container flex-grow"> --> <!-- LO HACE EN EL TS -->
  <!-- <div class="overlay" id="home-sidebar">
     SE CARGA EL COMPONENTE PRODUCTO-DETALLE (DENTRO DE PRODUCTO-LISTADO)
     </div>
  </div> -->
  <section class="page-home">
     <div class="flex-column page-header">
        <p class="top-decoration">Inicio</p>
     </div>
     <div class="restrict-width large">
        <div>
           <div class="title large">
              <h1 class="page-title text-large">{{ 'Traduct.hola' | translate }} {{ Cliente }},</h1>
              <p class="page-subtitle">{{ 'Traduct.default_t1' | translate }}</p>
           </div>
        </div>
        <div class="flex-row justify-center col-container">
           <div class="flex-column col-2-3">
              <!--BOX COMPONENTE DEUDA-->
              <app-deuda></app-deuda>

              <div class="mobile-only">
                 <ul class="flex-row mobile-btns">
                    <li class="col-1-3 text-center">
                       <a [routerLink]="" (click)="AvisarPago()">
                       <img src="assets/images/sections/home/01.svg" alt="">
                       {{ 'Traduct.avisar_pago' | translate }}
                       </a>
                    </li>
                    <li class="col-1-3 text-center">
                       <a [routerLink]="" (click)="PrometeFecha()">
                       <img src="assets/images/sections/home/02.svg" alt="">
                       {{ 'Traduct.prometer_fecha' | translate }}
                       </a>
                    </li>
                    <li class="col-1-3 text-center">
                       <a [routerLink]="" (click)="PagarCuotas()">
                       <img src="assets/images/sections/home/03.svg" alt="">
                       {{ 'Traduct.pagar_cuotas' | translate }}
                       </a>
                    </li>
                 </ul>
              </div>
              <div class="">
                <!--BOX COMPONENTE PRODUCTO-->
                <app-producto-listado></app-producto-listado>
              </div>
           </div>

           <div class="flex-column col-1-3">
              <div class="box prom-text relative">
                 <p>Diseñamos un plan de pago especialmente para vos ;)</p>
                 <div class="text-right">
                    <button class="btn secondary">Ver plan</button>
                 </div>
              </div>
              <div>
                 <h2>Promesas de pago</h2>
                 <div class="box promises-table">
                    <div class="table-container">
                       <table class="table selectable" width="100%" border="0">
                          <tbody>
                          <tr class="">
                             <td class="">
                                <div class="flex-row flex-center">
                                   <div class="date-box"><span class="month">Abr</span><span class="number">12</span></div>
                                   <div class="item-label">$17,900</div>
                                </div>
                             </td>
                             <td class="text-right">
                                <a href="/pagar.html"><button class="btn">Pagar</button></a>
                             </td>
                          </tr>
                          <tr class="">
                             <td class="">
                                <div class="flex-row flex-center">
                                   <div class="date-box"><span class="month">Dic</span><span class="number">31</span></div>
                                   <div class="item-label">$37,670</div>
                                </div>
                             </td>
                             <td class="text-right">
                                <a href="/pagar.html"><button class="btn">Pagar</button></a>
                             </td>
                          </tr>
                          <tr class="disabled">
                             <td class="">
                                <div class="flex-row flex-center">
                                   <div class="date-box"><span class="month">Jul</span><span class="number">05</span></div>
                                   <div class="item-label">$12,500</div>
                                </div>
                             </td>
                             <td class="text-right">
                                <div class="status-label"><span class="bullet red"></span>VENCIDA</div>
                             </td>
                          </tr>
                          </tbody>
                       </table>
                    </div>
                    <hr>
                    <div class="wide-link">
                       <a href="/prometer.html">Generar una promesa</a>
                    </div>
                 </div>
              </div>
              <div class="">
                 <h2>Planes de pago</h2>
                 <div class="box">
                    <div class="table-container">
                       <table class="table selectable" width="100%" border="0">
                        <tbody>
                          <tr class="">
                             <td class="col-3-5">
                                <img style="float: left; vertical-align: middle" src="assets/images/ui/tables/refinanciacion.svg" alt="">&nbsp;
                                <div class="flex-column text-small text-uppercase">
                                   <div class="text-semi">TC VISA 5400</div>
                                   <div>Refinanciación 12</div>
                                </div>
                             </td>
                             <td class="col-2-5 text-right">
                                <div class="status-label"><span class="bullet yellow"></span>EN ESPERA</div>
                             </td>
                          </tr>
                          <tr class="">
                             <td class="col-3-5">
                                <img style="float: left; vertical-align: middle" src="assets/images/ui/tables/refinanciacion.svg" alt="">&nbsp;
                                <div class="flex-column text-small text-uppercase">
                                   <div class="text-semi">Préstamo personal</div>
                                   <div>Acuerdo verbal</div>
                                </div>
                             </td>
                             <td class="col-2-5 text-right">
                                <div class="status-label"><span class="bullet yellow"></span>EN ESPERA</div>
                             </td>
                          </tr>
                          <tr class="disabled">
                             <td class="col-3-5">
                                <img style="float: left; vertical-align: middle" src="assets/images/ui/tables/refinanciacion.svg" alt="">&nbsp;
                                <div class="flex-column text-small text-uppercase">
                                   <div class="text-semi">TC MASTER 2431</div>
                                   <div>Plan 12 cuotas</div>
                                </div>
                             </td>
                             <td class="col-2-5 text-right">
                                <div class="status-label"><span class="bullet green"></span>APROBADO</div>
                             </td>
                          </tr>
                        </tbody>
                       </table>
                    </div>
                    <hr>
                    <div class="wide-link">
                       <a href="/pagar.html">Generar un plan</a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </section>
<!-- </div> -->
<app-mensaje-mp
  *ngIf="estadoPago"
  [estadoPago]="estadoPago"
  (volviendo)="onVolviendo($event)"
></app-mensaje-mp>
