<div Class = "input-wrapper select select2" (click)="clickCombo($event)" id="CBO_">
  <ul id="promises-select" data-value="">
    <li *ngIf="ItemDefault !== ''" class="placeholder active" value="0">
      <div id="placeholder">{{ ItemDefault }}</div>
    </li>
    <li *ngIf="ItemDefault === ''" class="placeholder active" value="0">
      <div id="placeholder">{{ 'Traduct.seleccione' | translate }}</div>
    </li>
    <li *ngFor="let item of Lista" value="{{item?.Id}}">
      <div class="selectable">
        {{ Texto === 'Code' ? item?.Code: item?.Name}}
      </div>
    </li>
  </ul>
</div>

<!-- <div
class="input-wrapper select select2"
(click)="clickCombo($event)" id="CBO_"
>

<ul id="promises-select" data-value="">
  <li class="placeholder active" value="">
    <div>{{ ItemDefault }}</div>
  </li>

  <li data-value="1">
    <div class="selectable">
      DNI
    </div>
  </li>

  <li data-value="2">
    <div class="selectable">
      2
    </div>
  </li>

  <li data-value="3">
    <div class="selectable">
      3
    </div>
  </li>

  <li data-value="4">
    <div class="selectable last date-picker">
      4
    </div>
  </li>
</ul>
</div> -->

