<div class="flex-column flex-grow" style="display: block; height: 100%;">
  <div class="pages-container">
    <section class="page-login">
      <div class="flex-row flex-center flex-grow" style="height: 100%;">
        <div class="form-container">
          <div class="form flex-column box">
            <div class="slide-page">
              <div class="login-content flex flex-column">
                <div>
                  <div class="flex-row flex-center">
                    <h1 class="visually-hidden">Emerix</h1>
                    <img
                      class="logo"
                      src="assets/images/logos/emerix.png"
                      alt=""
                    />
                  </div>
                  <h3 style="text-align: center;">
                    Acceso no autorizado
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-container"></div>
      </div>
    </section>
  </div>
</div>
