<div class="flex-column flex-grow">
  <div class="pages-container">
    <section class="page-invoice">
      <h1 class="flex-row">{{ "Traduct.detalle_promesa" | translate }}</h1>
      <div class="flex-row">
        <div class="table-container desktop-only">
          <table class="table" width="100%" border="0">
            <tbody>
              <tr class="table-header">
                <td style="width: 33.33%;">
                  {{ "Traduct.producto" | translate }}
                </td>
                <td style="width: 33.33%;">
                  {{ "Traduct.moneda" | translate }}
                </td>
                <td style="width: 33.33%;">
                  {{ "Traduct.monto" | translate }}
                </td>
              </tr>
              <tr></tr>
              <tr *ngFor="let item of cuentas; let i = index" style= "cursor: default;">
                <td style="width: 33.33%;">
                  {{ item.NombreProducto }}
                </td>
                <td style="width: 33.33%;">
                  {{ item.CodigoMoneda }}
                </td>
                <td style="width: 33.33%;">
                  {{
                    removerComas(
                      item.ImportePago | number:'1.2-2'
                    )
                  }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mobile-only flex-column flex-grow table-container">
          <table
            class="box table flex-row"
            *ngFor="let item of cuentas; let i = index"
          >
            <tbody>
              <tr>
                <td>
                  <p>
                    <strong>{{ "Traduct.producto" | translate }}</strong>
                  </p>
                  <p>{{ item.NombreProducto }}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    <strong>{{ "Traduct.moneda" | translate }}</strong>
                  </p>
                  <p>{{ item.CodigoMoneda }}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    <strong>{{ "Traduct.monto" | translate }}</strong>
                  </p>
                  <p>
                    {{
                      removerComas(
                        item.ImportePago | number:'1.2-2'
                      )
                    }}
                    </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="flex-row flex-center">
        <button
          type="button"
          class="btn"
          (click)="volver()"
          *ngIf="!detalle.desdeHome"
        >
          {{ "Traduct.volver" | translate }}
        </button>
      </div>

    </section>
  </div>
</div>
