<div *ngIf="!porProducto">
  <div class="page-progress">
    <div class="progress progress-70"></div>
  </div>

  <div class="flex-column page-header">
    <a class="top-decoration" (click)="volver()" style="cursor: pointer;">{{
      "Traduct.volver_anterior" | translate
    }}</a>
  </div>

  <div class="restrict-width">
    <div class="title">
      <h1 class="page-title text-large">
        {{ "Traduct.confirmar_monto" | translate }}
      </h1>
    </div>

    <div class="box flex-row flex-column-on-mobile">
      <div class="col-1-2 text-center full-width-mobile">
        <span class="text-silver"
          ><strong>{{ "Traduct.monto_adeudado" | translate }}</strong></span
        >
        <br />
        <span class="text-xlarge text-silver">
          <div class="price-container">
            <span class="denomination">$</span>{{ this.importeDeuda[0]
            }}<sup class="cents">{{ this.importeDeuda[1] }}</sup>
          </div>
        </span>
      </div>
      <div class="col-1-2 text-center full-width-mobile">
        <span class="text-violet"
          ><strong>{{ "Traduct.importe_a_pagar" | translate }}</strong></span
        >
        <br />
        <span class="text-xlarge">
          <div class="price-container">
            <span class="denomination">$</span>{{ this.importeApagar[0]
            }}<sup class="cents">{{ this.importeApagar[1] }}</sup>
          </div>
        </span>
      </div>
    </div>
    <p class="disclaimer">
      La distribución del importe se hace por productos en base los días de
      mora, una vez cubierto el monto automaticamente contempla el siguiente
      producto hasta cubrir el importe ingresado.
    </p>

    <button class="btn" (click)="postPromesa()">
      {{ "Traduct.confirmar" | translate }}
    </button>
  </div>
</div>

<div *ngIf="porProducto">
  <div class="page-progress">
    <div class="progress progress-70"></div>
  </div>
  <div class="flex-column page-header">
    <a class="top-decoration" (click)="volver()">{{
      "Traduct.volver_anterior" | translate
    }}</a>
  </div>
  <div class="restrict-width">
    <div class="title">
      <h1 class="page-title text-large">
        {{ "Traduct.confirmar_monto" | translate }}
      </h1>
    </div>
    <div class="flex-row col-container">
      <div class="box text-center col-1-2 full-width-mobile">
        <span class="text-violet"
          ><strong>{{ "Traduct.monto_adeudado" | translate }}</strong></span
        >
        <br />
        <span class="text-xlarge">
          <div class="price-container">
            <span class="denomination">$</span>{{ this.importeDeuda[0]
            }}<sup class="cents">{{ this.importeDeuda[1] }}</sup>
          </div>
        </span>
      </div>
      <div class="box text-center col-1-2 full-width-mobile">
        <span class="text-violet"
          ><strong>{{ "Traduct.importe_a_pagar" | translate }}</strong></span
        >
        <br />
        <span class="text-xlarge">
          <div class="price-container">
            <span class="denomination">$</span>{{ this.importeApagar[0]
            }}<sup class="cents">{{ this.importeApagar[1] }}</sup>
          </div>
        </span>
      </div>
    </div>
    <div class="box">
      <div class="table-container">
        <table class="table disabled" width="100%" border="0">
          <tbody>
            <tr class="table-header">
              <td class="col-1-2">
                {{ "Traduct.producto" | translate }}
              </td>
              <td class="col-1-2 text-right">
                {{ "Traduct.importe_a_pagar" | translate }}
              </td>
            </tr>
            <tr *ngFor="let item of productos">
              <td class="col-1-2">
                {{ item.Nombre }}
              </td>
              <td class="col-1-2 text-right">
                {{
                  removerComas(
                    item.Deuda
                      | currency: item.CodigoMoneda:"symbol-narrow":"1.2-2"
                  )
                }}
              </td>
            </tr>

            <tr *ngFor="let promesa of promesas; let i = index">
              <td class="col-1-2">Promesa {{ i + 1 }}</td>
              <td class="col-1-2 text-right">
                {{
                  removerComas(
                    promesa.Deuda
                      | currency: promesa.CodigoMoneda:"symbol-narrow":"1.2-2"
                  )
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <p class="disclaimer">
      La distribución del monto se hará en base a los productos seleccionados.
    </p>
    <button class="btn" (click)="postPromesa()">
      {{ "Traduct.confirmar" | translate }}
    </button>
  </div>
</div>
