<!-- <div *ngIf="!cargando" class="row">
  <div class="container-fluid col-xl-12 col-lg-12 col-sm-12 table-responsive">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th *ngFor="let column of listaColumnas">
              {{column.Columna}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngFor="let row of listaFilas">
              {{row.Columna}}
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<div class="row">
  <div class="col">
      <input type="button" class="btn btn-info" value="{{ 'Traduct.volver' | translate }}">
  </div>
</div> -->
<div class="dialog-content sidebar-content">
      <div class="flex-column">
        <h2>{{ 'Traduct.detalle_productos' | translate }}</h2>
        <ng-container *ngFor="let col of listaColumnas; let i = index">
          <h3>{{col.Columna}}</h3>
          <p>{{listaFilas[i].Columna}}</p>
        </ng-container>
        <button *ngIf="producto.IsFreeDebt == true" class="btn secondary hover" (click)='libreDeuda(producto.IdProd, producto.NameProd)'><img src="assets/images/ui/buttons/download.svg" alt="">{{ 'Traduct.libre_deuda' | translate }}</button>
      </div>
</div>
