<div >
  <div class="box" style="cursor: pointer" (click)="Redireccionar('CTA')" >

    <p>{{ 'Traduct.tu_deuda_es' | translate }}:</p>
    <p class="text-xxlarge text-nowrap">$ {{ removeCommas(Monto | number:'1.2-2') }} </p>

    <p>{{ 'Traduct.cant_dias_mora' | translate }}:</p>
    <p class="text-xxlarge text-nowrap">{{CantDiasMora}}</p>

    <p>{{ 'Traduct.cant_productos' | translate }}:</p>
    <p class="text-large">{{CantProductos}}</p>

    <button class="btn" (click)="Redireccionar('PAG')">{{ 'Traduct.pagar_ahora' | translate }}</button>
  </div>
</div>
