<div class="box flex-row relative">
  <div class="flex-grow debt-container">
     <p class="first-row">{{ 'Traduct.tu_deuda_es' | translate }}:</p>
     <p class="text-nowrap"><span class="text-xlarge">$</span> <span class="text-xxlarge">{{ Entero }}</span> <sup class="text-large">{{ Decimal }}</sup></p>
     <a [routerLink]="" (click)="irPagar()"><button class="btn">{{ 'Traduct.pagar_ahora' | translate }}</button></a>
  </div>
  <div class="home-illus-container desktop-only">
     <img class="home-illus" alt="" src="assets/images/sections/home/ilustracion.svg">
  </div>
</div>
