<section class="page-plans" [hidden]="stepAcuerdo != 0">
  <div class="flex-column page-header">
    <p class="top-decoration">{{ "Traduct.planes_pedidos" | translate }}</p>
  </div>

  <div class="restrict-width">
    <div class="title">
      <h1 class="page-title">Consultá los planes de pago que pediste</h1>
      <p class="page-subtitle">
        <span></span>Podés ver el detalle de cuotas y pagar si aún están
        vigente.
      </p>
    </div>

    <div class="site-select">
      <div
        class="input-wrapper select select2"
        id="select-7420924462"
        (click)="abrirFiltroFecha()"
      >
        <ul id="requested_select" data-value="6 meses">
          <div *ngIf="banderaInput === 1">
            <li (click)="seleccionarFiltroFecha(12)">
              <div class="selectable">último año</div>
            </li>
            <li (click)="seleccionarFiltroFecha(6)">
              <div class="selectable">6 meses</div>
            </li>
            <li (click)="seleccionarFiltroFecha(1)">
              <div class="selectable last">1 mes</div>
            </li>
          </div>

          <div *ngIf="banderaInput === 2">
            <li (click)="seleccionarFiltroFecha(6)">
              <div class="selectable">6 meses</div>
            </li>
            <li (click)="seleccionarFiltroFecha(12)">
              <div class="selectable">último año</div>
            </li>
            <li (click)="seleccionarFiltroFecha(1)">
              <div class="selectable last">1 mes</div>
            </li>
          </div>

          <div *ngIf="banderaInput === 3">
            <li (click)="seleccionarFiltroFecha(1)">
              <div class="selectable last">1 mes</div>
            </li>
            <li (click)="seleccionarFiltroFecha(12)">
              <div class="selectable">último año</div>
            </li>
            <li (click)="seleccionarFiltroFecha(6)">
              <div class="selectable">6 meses</div>
            </li>
          </div>
        </ul>
        <div class="input-error-icon" role="alert"></div>
        <div class="input-error-popup" role="alert">Required</div>
      </div>
    </div>

    <div class="box box-table-container">
      <div class="table-container">
        <table class="table selectable plans-table" width="100%" border="0">
          <tbody>
            <tr class="table-header">
              <td class="">
                {{ "Traduct.acuerdo" | translate }}
              </td>

              <td class="">
                {{ "Traduct.estado" | translate }}
              </td>

              <td class="">
                {{ "Traduct.vencimiento_anticipo" | translate }}
              </td>

              <td class="">
                {{ "Traduct.monto" | translate }}
              </td>

              <td class="">
                {{ "Traduct.cuotas" | translate }}
              </td>
            </tr>

            <tr
              *ngFor="let Acuerdo of acuerdosFiltrados"
              id="acuerdo-{{ Acuerdo.IdAcuerdo }}"
            >
              <td class="">
                <div
                  class="table-data flex-row full-width"
                  (click)="abrirDetalle(Acuerdo.IdAcuerdo)"
                >
                  <div>{{ Acuerdo.NombreAcuerdo }}</div>

                  <div class="text-left no-wrap">
                    <div
                      *ngIf="Acuerdo.EstadoCodigo === 'PENDIANT'"
                      class="status-label"
                    >
                      <span class="bullet yellow"></span
                      >{{ "Traduct.pendiente" | translate }}
                    </div>

                    <div
                      *ngIf="Acuerdo.EstadoCodigo === 'VIGENTE'"
                      class="status-label"
                    >
                      <span class="bullet yellow"></span
                      >{{ "Traduct.vigente" | translate }}
                    </div>

                    <div
                      *ngIf="Acuerdo.EstadoCodigo === 'CUMPLIDO'"
                      class="status-label"
                    >
                      <span class="bullet green"></span
                      >{{ "Traduct.cumplido" | translate }}
                    </div>

                    <div
                      *ngIf="Acuerdo.EstadoCodigo === 'CAIDO'"
                      class="status-label"
                    >
                      <span class="bullet red"></span
                      >{{ "Traduct.caido" | translate }}
                    </div>

                    <div
                      *ngIf="Acuerdo.EstadoCodigo === 'ANTVENCI'"
                      class="status-label"
                    >
                      <span class="bullet red"></span
                      >{{ "Traduct.vencido" | translate }}
                    </div>

                    <div
                      *ngIf="OtroEstado(Acuerdo.EstadoCodigo)"
                      class="status-label"
                    >
                      <span class="bullet gray"></span
                      >{{ Acuerdo.EstadoNombre }}
                    </div>
                  </div>

                  <div>
                    {{ Acuerdo.FechaVencAnticipo | date: "dd/MM/yyyy" }}
                  </div>
                  <div>$19450,87</div>
                  <div class="text-right">{{ Acuerdo.CantidadCuotas }}</div>
                </div>

                <div
                  class="overview flex-column full-width"
                  *ngIf="MostrarDetalle"
                >
                  <div class="flex-row full-width flex-column-on-mobile">
                    <div class="col-1-2 text-small full-width-mobile">
                      <ul class="full-width flex-row mobile-only">
                        <li class="col-1-2">
                          <strong class="added">{{
                            "Traduct.vencimiento_anticipo" | translate
                          }}</strong>
                        </li>
                        <li class="col-1-2 text-right">
                          {{ Acuerdo.FechaVencAnticipo | date: "dd/MM/yyyy" }}
                        </li>
                      </ul>
                      <ul class="full-width flex-row mobile-only">
                        <li class="col-1-2">
                          <strong class="added">{{
                            "Traduct.monto" | translate
                          }}</strong>
                        </li>
                        <li class="col-1-2 text-right">$19450,87</li>
                      </ul>
                      <ul class="full-width flex-row mobile-only">
                        <li class="col-1-2">
                          <strong class="added">{{
                            "Traduct.cuotas" | translate
                          }}</strong>
                        </li>
                        <li class="col-1-2 text-right">
                          {{ Acuerdo.CantidadCuotas }}
                        </li>
                      </ul>
                      <ul class="full-width flex-row">
                        <li class="col-1-2">
                          <strong class="text-violet">{{
                            "Traduct.deuda_total" | translate
                          }}</strong>
                        </li>
                        <li class="col-1-2 text-right-mobile">
                          {{ Acuerdo.DeudaTotal | number: "1.2-2" }}
                        </li>
                      </ul>
                      <ul class="full-width flex-row">
                        <li class="col-1-2">
                          <strong class="text-violet">{{
                            "Traduct.deuda_refinanciar" | translate
                          }}</strong>
                        </li>
                        <li class="col-1-2 text-right-mobile">
                          {{ Acuerdo.ImporteRefinanciar | number: "1.2-2" }}
                        </li>
                      </ul>
                      <ul class="full-width flex-row">
                        <li class="col-1-2">
                          <strong class="text-violet">{{
                            "Traduct.anticipo" | translate
                          }}</strong>
                        </li>
                        <li class="col-1-2 text-right-mobile">
                          {{ Acuerdo.ImporteAnticipo | number: "1.2-2" }}
                        </li>
                      </ul>
                      <ul class="full-width flex-row">
                        <li class="col-1-2">
                          <strong class="text-violet">{{
                            "Traduct.quita" | translate
                          }}</strong>
                        </li>
                        <li class="col-1-2 text-right-mobile">
                          {{ Acuerdo.ImporteQuita | number: "1.2-2" }}
                        </li>
                      </ul>
                    </div>
                    <div class="col-1-2 text-small full-width-mobile">
                      <ul class="full-width flex-row">
                        <li class="full-width">
                          <strong class="text-violet">{{
                            "Traduct.productos" | translate
                          }}</strong>
                        </li>
                      </ul>
                      <ul
                        class="full-width flex-row"
                        *ngFor="let Cuenta of Acuerdo.Cuentas"
                      >
                        <li class="col-1-2">{{ Cuenta.NombreProducto }}</li>
                        <li class="col-1-2 text-right">
                          {{ Cuenta.Deuda | number: "1.2-2" }}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="flex-row full-width flex-end last-row">
                    <div>
                      <a
                        (click)="VerCuotas(Acuerdo)"
                        class="text-violet trigger-popup"
                        >{{ "Traduct.ver_cuotas" | translate }}</a
                      >
                    </div>
                    <div>
                      <button
                        class="btn secondary active"
                        (click)="pagarAcuerdo(Acuerdo)"
                      >
                        Pagar
                      </button>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<div class="overlay" id="plans-dialog" (click)="cerrarPopupCuotas()">
  <app-ver-cuotas
    [acuerdo]="acuerdoSeleccionado"
    [historico]="true"
    (acuerdoSeleccionado)="pagarAcuerdo($event)"
  ></app-ver-cuotas>
</div>

<section class="page-pay pay_5" [hidden]="stepAcuerdo != 1">
  <app-pago-metodos
    [pago]="preAcuerdo"
    [pagoStep]="stepAcuerdo"
    (volviendo)="onVolver($event)"
  >
  </app-pago-metodos>
</section>
