<h2>{{ 'Traduct.planes_de_pago' | translate }}</h2>
<div class="box">
   <div *ngIf="Acuerdos?.length === 0 || Acuerdos === undefined">
    <div class="text-center">
      <img src="assets/images/sections/home/promesas.svg" alt="">
      <p>{{ "Traduct.no_hay_acuerdo" | translate }}</p>
    </div>
   </div>
   <div class="table-container" *ngIf="Acuerdos?.length != 0 && Acuerdos != undefined">
      <table class="table selectable" width="100%" border="0">
       <tbody>
          <tr class="" *ngFor="let Acuerdo of Acuerdos">
          	<td class="col-1-2">
              <img style="float: left; vertical-align: middle" src="assets/images/ui/tables/refinanciacion.svg" alt="">&nbsp;
              <div class="flex-column text-small text-uppercase">
                  <div class="text-semi">{{ Acuerdo.NombreAcuerdo }}</div>
                  <div>{{ Acuerdo.FechaGenerada | date : "dd/MM/yyyy" }}</div>
              </div>
            </td>
          	<td class="col-1-2 text-right">
              <div *ngIf="Acuerdo.EstadoCodigo ==='PENDIANT'" class="status-label"><span class="bullet yellow"></span>{{ 'Traduct.pendiente' | translate }}</div>
              <div *ngIf="Acuerdo.EstadoCodigo ==='VIGENTE'" class="status-label"><span class="bullet yellow"></span>{{ 'Traduct.vigente' | translate }}</div>

              <div *ngIf="Acuerdo.EstadoCodigo ==='CUMPLIDO'" class="status-label"><span class="bullet green"></span>{{ 'Traduct.cumplido' | translate }}</div>

              <div *ngIf="Acuerdo.EstadoCodigo ==='CAIDO'" class="status-label"><span class="bullet red"></span>{{ 'Traduct.caido' | translate }}</div>
              <div *ngIf="Acuerdo.EstadoCodigo ==='ANTVENCI'" class="status-label"><span class="bullet red"></span>{{ 'Traduct.vencido' | translate }}</div>

              <div *ngIf="OtroEstado(Acuerdo)" class="status-label"><span class="bullet gray"></span>{{ Acuerdo.EstadoNombre }}</div>
            </td>
        </tr>
       </tbody>
      </table>
   </div>
   <hr>
   <div class="wide-link">
      <a [routerLink]="" (click)="NuevoAcuerdo()">{{ 'Traduct.generar_un_acuerdo' | translate }}</a>
   </div>
</div>
