<!-- <h2>{{ "Traduct.ultimas_promesas" | translate }}</h2>
<div class="box promises-table">
  <div *ngIf="promesas?.length === 0 || promesas === undefined">
    No ha realizado ninguna promesa de pago.
  </div>
  <div
    class="table-container"
    *ngIf="promesas?.length != 0 && promesas != undefined"
  >
    <table class="table selectable" width="100%" border="0">
      <tbody>
        <tr
          class="align-start"
          *ngFor="let promesa of promesas; let i = index"
          [ngClass]="{ disabled: promesa.Estado === 'Quebrada' }"
        >
          <td class="">
            <div class="flex-row flex-center">
              <div class="date-box">
                <span class="month">{{ promesa.mes }}</span
                ><span class="number">{{ promesa.dia }}</span>
              </div>
              <div class="flex-column flex-grow">
                <input
                  aria-hidden="true"
                  type="checkbox"
                  class="dropdown-trigger"
                  id="dropdown-trigger-dropdown-{{ i }}"
                /><label
                  class="dropdown-title card-dropdown"
                  for="dropdown-trigger-dropdown-{{ i }}"
                  ><div class="item-label">
                    {{
                      removerComas(
                        promesa.PromesaMonto
                          | currency: promesa.CodigoMoneda:"symbol-narrow"
                      )
                    }}
                  </div></label
                >
                <div
                  class="dropdown-target"
                  style="display: flex; flex-direction: row"
                >
                  <ul class="card-dropdown-target col-1-2">
                    <li
                      class="flex-row margin-bottom-on-mobile"
                      *ngFor="let producto of promesa.Detalle"
                    >
                      {{ producto.NombreProducto }}
                    </li>
                  </ul>
                  <a
                    class="col-1-2"
                    style="display: block !important"
                    (click)="
                      pagarPromesa(promesa.IdTipoPromesa, promesa.PromesaMonto)
                    "
                    *ngIf="promesa.VerBotonPagar"
                    ><button class="btn">Pagar</button></a
                  >
                </div>
              </div>
            </div>
          </td>
          <td class="text-right align-self-start">
            <div class="status-label" style="display: block !important">
              <span
                class="bullet"
                [ngClass]="{
                  red: promesa.Estado === 'Quebrada',
                  yellow:
                    promesa.Estado === 'Pendiente' ||
                    promesa.Estado === 'Atrasada',
                  green: promesa.Estado === 'Cumplida'
                }"
              ></span
              >{{ promesa.Estado }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr />
  <div class="wide-link">
    <a [routerLink]="" (click)="IrPromesa()">{{
      "Traduct.generar_una_promesa" | translate
    }}</a>
  </div>
</div> -->

<section class="page-plans">
  <h2>{{ "Traduct.ultimas_promesas" | translate }}</h2>
  <div class="box box-table-container">
    <div
      class="table-container"
      *ngIf="promesas?.length != 0 && promesas != undefined"
    >
      <table class="table selectable plans-table" width="100%" border="0">
        <tbody>
          <tr
            *ngFor="let promesa of promesas; let i = index"
            (click)="abrirDetalle(i)"
            class=""
            id="promesa-{{ i }}"
          >
            <td>
              <div class="table-data flex-row full-width">
                <div
                  style="width: 15%; align-items: center; text-align: center"
                >
                  <div class="date-box">
                    <span class="month">{{ promesa.mes }}</span
                    ><span class="number">{{ promesa.dia }}</span>
                  </div>
                </div>
                <div
                  class="text-left no-wrap"
                  style="width: 35%; align-items: center; text-align: center"
                >
                  {{
                    removerComas(
                      promesa.PromesaMonto
                        | currency: promesa.CodigoMoneda:"symbol-narrow"
                    )
                  }}
                </div>
                <div
                  style="
                    width: 50%;
                    align-items: center;
                    text-align: center;
                    display: block;
                  "
                >
                  <div class="status-label">
                    <span
                      class="bullet"
                      [ngClass]="{
                        red: promesa.Estado === 'Quebrada',
                        yellow:
                          promesa.Estado === 'Pendiente' ||
                          promesa.Estado === 'Atrasada',
                        green: promesa.Estado === 'Cumplida'
                      }"
                    ></span
                    >{{ promesa.Estado }}
                  </div>
                </div>
              </div>

              <div class="overview flex-column full-width">
                <div class="flex-row full-width flex-column-on-mobile">
                  <div class="col-1-2 text-small full-width-mobile">
                    <ul class="full-width flex-row">
                      <li class="full-width">
                        <strong class="text-violet">Productos incluidos</strong>
                      </li>
                    </ul>
                    <ul
                      class="full-width flex-row"
                      *ngFor="let producto of promesa?.Detalle; let a = index"
                    >
                      <li class="" style="width: 50%">
                        {{ producto.NombreProducto }}
                      </li>
                      <li class="text-right" style="width: 50%">
                        {{
                          producto.CodigoMoneda +
                            removerComas(producto.ImportePago | number: "1.2-2")
                        }}
                      </li>
                    </ul>
                  </div>
                  <div class="col-1-2 custom-2">
                    <a
                      style="display: block; width: 150px"
                      (click)="
                        pagarPromesa(
                          promesa.IdTipoPromesa,
                          promesa.PromesaMonto
                        )
                      "
                      *ngIf="promesa.VerBotonPagar"
                      ><button class="btn">Pagar</button></a
                    >
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="promesas?.length === 0 || promesas === undefined">
      <p class="page-subtitle text-center">
        No ha realizado ninguna promesa de pago.
      </p>
    </div>
  </div>
</section>
