<section class="page-promises promises" [hidden]="promesaStep != 0">
  <div class="page-progress">
    <div class="progress progress-5"></div>
  </div>

  <div class="flex-column page-header">
    <p class="top-decoration">{{"Traduct.prometer_fecha" | translate }}</p>
  </div>

  <div class="restrict-width">
    <div class="title">
      <h1 class="page-title text-large">{{"Traduct.generar_promesa" | translate }}</h1>
      <p class="page-subtitle">
        <span></span>{{"Traduct.promesa_subtituilo" | translate }}
      </p>
    </div>

    <div class="selectable-box flex-row col-container" id="box-2994778034">
      <div
        class="box col-1-2"
        id="porMonto"
        (click)="seleccionarTipoPromesa(1)">
        <div class="flex-row flex-center">
          <img src="assets/images/sections/promises/1.svg" alt="" />
          <img src="assets/images/sections/promises/1_active.svg" alt="" />
        </div>
        <p class="text-center">
          {{"Traduct.monto_titulo" | translate }}
        </p>
      </div>
      <div
        class="box col-1-2"
        id="porProducto"
        (click)="seleccionarTipoPromesa(2)"
      >
        <div class="flex-row flex-center">
          <img src="assets/images/sections/promises/2.svg" alt="" />
          <img src="assets/images/sections/promises/2_active.svg" alt="" />
        </div>
        <p class="text-center">
          {{"Traduct.producto_titulo" | translate }}
        </p>
      </div>
    </div>
    <div>
      <button (click)="continuarStep()" class="btn" data-next>{{"Traduct.siguiente" | translate }}</button>
    </div>
  </div>
</section>
<section class="page-promises promises_1" [hidden]="promesaStep != 2">
  <app-grilla-promesa
    [resp]="resp"
    [promesaStep]="promesaStep"
    [volverHome]="volverHome"
    (volviendo)="onVolviendo($event)"
    (siguiente)="onSiguiente($event)"
    (promGen)="onPromGen($event)"
  ></app-grilla-promesa>
</section>

<section class="page-promises promises_1" [hidden]="promesaStep != 1">
  <app-monto-promesa
    [resp]="resp"
    [promesaStep]="promesaStep"
    [volverHome]="volverHome"
    (volviendo)="onVolviendo($event)"
    (siguiente)="onSiguiente($event)"
    (promGen)="onPromGen($event)"
  >
  </app-monto-promesa>
</section>

<section class="page-promises promises_1" [hidden]="promesaStep != 3">
  <app-promesa-mensaje
    [promGen]="promGen"
    [promesaStep]="promesaStep"
    (volviendo)="onVolviendo($event)"
    (siguiente)="onSiguiente($event)"
    *ngIf="promesaStep === 3"
  >
  </app-promesa-mensaje>
</section>

<section class="page-pay pay-success" [hidden]="promesaStep != 4">
  <app-promesa-exito></app-promesa-exito>
</section>
<section>
  <div class="chat-bot col-5" style="position: relative;">
    <button (click)="toggleElement()"
          class="btn-chat col-3"
          style="width: 40px;
                height: 40px;
                position: absolute;
                left: 20px;
                bottom: 0;
                background-color: transparent;
                cursor: pointer;
                outline: transparent;">
        <i class="far fa-comment-dots"
            style="color: #8569B4;
              position: absolute;
              right: 5px;
              top: 5px;
              font-size: 30px;"></i>
    </button>
    <div [hidden]="!hideElement" class="contain-iframe" style="width: 400px; height: 600px; position: fixed;
    right: 20px;
    bottom: 10px;
    border: 1px solid hsla(0,0%,59.6%,.15);
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    border-radius: 10px;">
        <iframe src="https://ss.emerix.com.ar/twilio-net"
        frameborder="0"
        width="100%"
        height="100%"
        style="padding: 0;
        margin: 0;
        overflow: hidden;">
          </iframe>
    </div>
  </div>
</section>
