<div class="flex-column flex-grow">
    <div class="pages-container">
  
        <section class="page-invoice">
            <h1 class="flex-row">Promesas de Pago</h1>
            <div class="flex-row">
                <div class="table-container desktop-only">
                    <table class="table" width="100%" border="0">
                      <tbody>
                        <tr class="table-header">
                            <td style="width: 16.666666666666668%;">
                                Fecha de Promesa
                            </td>
                            <td style="width: 16.666666666666668%;">
                                Estado
                            </td>
                            <td style="width: 16.666666666666668%;">
                                Monto de Promesa
                            </td>
                            <td style="width: 16.666666666666668%;">
                                Cantidad de Productos
                            </td>
                        </tr>
                        <tr *ngFor="let item of promesas | paginate: { itemsPerPage: 10, currentPage: p }; let i = index" (click)="iradetalle(item)"> 
                            <td style="width: 16.666666666666668%;">    
                              {{ item.PromesaFecha | date: "dd/MM/yyyy" }}
                            </td>
                            <td style="width: 16.666666666666668%;">
                              {{ item.Estado }}
                            </td>
                            <td style="width: 16.666666666666668%;">
                              {{ item.CodigoMoneda + item.PromesaMonto }}
                            </td>
                            <td style="width: 16.666666666666668%;">
                              {{ item.CantidadCuentas }} productos
                            </td>
                        </tr>       
                      </tbody>     
                    </table>
                </div>
                <div class="mobile-only flex-column flex-grow table-container">
                    <table class="box table flex-row" *ngFor="let item of promesas | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                    <tbody>
                        <tr>
                            <td>    
                              <p><strong>Estado</strong></p>
                                <p>{{ item.Estado }}</p>   
                            </td>
                        </tr>
                        <tr>
                            <td>    
                                <p><strong>Fecha de Promesa</strong></p>
                                <p>{{ item.PromesaFecha | date: "dd/MM/yyyy" }}</p>   
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top-width: 0px;">    
                                <p><strong>Monto</strong></p>
                                <p>{{ item.CodigoMoneda + item.PromesaMonto }}</p>   
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top-width: 0px;">    
                                <p><strong>Cantidad de Productos</strong></p>
                                <p>{{ item.CantidadCuentas }} productos</p>   
                            </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
            <div class="mx-auto text-center">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </section>
    </div>
  </div>
  