<div class="box">
  <div class="list-view">
    <div class="list-view-title">
      <h2>{{ "Traduct.ultimas_promesas" | translate }}</h2>
      <div class="list-view-add" (click)="IrPromesa()"></div>
    </div>
    <hr />
    <ul class="list-view-content" *ngFor="let promesa of promesas">
      <li class="flex-row promises-latest" (click)="iradetalle(promesa)">
        <div class="flex-column flex-grow">
          <p class="promise-price">
            {{
              removeCommas(
                promesa.PromesaMonto | currency: promesa.CodigoMoneda:"symbol-narrow":"1.2-2"
              )
            }} - {{ promesa.CantidadCuentas }} producto/s
          </p>
          <p class="promise-date"> {{ promesa.PromesaFecha | date: "dd/MM/yyyy" }} </p>
        </div>
        <div class="flex-column flex-center">
          <p><span class="bullet green"
                        [ngClass]="{
                        'red' : promesa.Estado === 'Quebrada',
                        'yellow' : promesa.Estado === 'Atrasada'
                        }"
            ></span> {{promesa.Estado}} </p>
        </div>
      </li>
    </ul>
    <p class="wide-link">
      <a [routerLink]="" (click)="IrPromesaHistorica()" class="wide-link">{{
        "Traduct.ver_todas_promesas" | translate
      }}</a>
    </p>
  </div>
</div>
