<div class="flex-column flex-grow">
    <div class="pages-container">

        <section class="page-invoice">
            <h1 class="flex-row">{{'Traduct.historial_promesa' | translate }}</h1>
            <div class="flex-row">
                <div class="table-container desktop-only">
                    <table class="table" width="100%" border="0">
                      <tbody>
                        <tr class="table-header">
                            <td style="width: 16.666666666666668%;">
                                {{'Traduct.plazo_de_pago' | translate }}
                            </td>
                            <td style="width: 16.666666666666668%;">
                                {{'Traduct.estado' | translate }}
                            </td>
                            <td style="width: 16.666666666666668%;">
                                {{'Traduct.monto' | translate }}
                            </td>
                            <td style="width: 16.666666666666668%;">
                                {{'Traduct.cant_productos' | translate }}
                            </td>
                        </tr>
                        <tr *ngFor="let item of promesas ; let i = index" (click)="iradetalle(item)">
                            <td style="width: 16.666666666666668%;">
                              {{ item.PromesaFecha | date: "dd/MM/yyyy" }}
                            </td>
                            <td style="width: 16.666666666666668%;">
                              {{ item.Estado }}
                            </td>
                            <td style="width: 16.666666666666668%;">
                              {{ item.CodigoMoneda + item.PromesaMonto }}
                            </td>
                            <td style="width: 16.666666666666668%;">
                              {{ item.CantidadCuentas }} productos
                            </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <div class="mobile-only flex-column flex-grow table-container">
                    <table class="box table flex-row" *ngFor="let item of promesas ; let i = index">
                    <tbody>
                        <tr>
                            <td>
                              <p><strong>{{'Traduct.estado' | translate }}</strong></p>
                                <p>{{ item.Estado }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>{{'Traduct.plazo_de_pago' | translate }}</strong></p>
                                <p>{{ item.PromesaFecha | date: "dd/MM/yyyy" }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top-width: 0px;">
                                <p><strong>{{'Traduct.monto' | translate }}</strong></p>
                                <p>{{ item.CodigoMoneda + item.PromesaMonto }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top-width: 0px;">
                                <p><strong>{{'Traduct.cant_productos' | translate }}</strong></p>
                                <p>{{ item.CantidadCuentas }}</p>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
  </div>
